 <html>
<head>
<style>
 
h1 {
  text-align: center;
  text-transform: uppercase;
  color: blue;
}

p {
  text-indent: 50px;
  text-align: justify;
  letter-spacing: 3px;
}
 .button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
  
</style>
</head>
<body>

<div>
  <h1>Abstract</h1>
  <p>Breast cancer is type of tumor that occurs in the tissues of the breast. It is most common type of
cancer found in women around the world and it is among the leading causes of deaths in women. This article
presents the comparative analysis of machine learning, deep learning and data mining techniques being
used for the prediction of breast cancer. Many researchers have put their efforts on breast cancer diagnoses
and prognoses, every technique has different accuracy rate and it varies for different situations, tools and
datasets being used. Our main focus is to comparatively analyze different existing Machine Learning and
Data Mining techniques in order to find out the most appropriate method that will support the large dataset
with good accuracy of prediction. The main purpose of this review is to highlight all the previous studies
of machine learning algorithms that are being used for breast cancer prediction and this article provides the
all necessary information to the beginners who want to analyze the machine learning algorithms to gain the
base of deep learning.
INDEX TERMS Machine learnin
 </P>
  
</div>
 <input type="button" class= "button"onclick="window.location.href='{{url_for('upload')}}';" value="NEXT" />
</body>
</html>
