 <html>
<head>
<style>
 
h1 {
  text-align: center;
  text-transform: uppercase;
  color: red;
}

p {
  text-indent: 50px;
  text-align: justify;
  letter-spacing: 3px;
}
 .button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
 
</style>
</head>
<body>

<div>
  <h1>Conclusion and Future Work</h1>
  <p>In this article we have reviewed different machine learning,
deep learning and data mining algorithms for the prediction of
breast cancer. Our main focus is to find out the most suitable
algorithm that can predict the occurrences of breast cancer
more effectively. The main purpose of this review is to highlight all the previous studies of machine learning algorithms
that are being used for breast cancer prediction, this article
provides the all necessary information to the beginners who
want to analyze the machine learning algorithms to gain the
base of deep learning. The review of this article is started
from the types of breast cancer, fourteen research papers
have been reviewed to get some knowledge about the major
types, symptoms and causes of breast cancer. After that,
the review of major machine learning techniques, ensemble
techniques and deep learning techniques has been provided
and these techniques deeply elaborate algorithms that are
being used for the predictions of breast cancer. In the future
work there are still some issues that needed to be solved.
Researchers can solve the issue of limited available dataset
by using some data augmentation techniques. The issue of
inequality of positive and negative data should be considered
by researchers as it can lead to biasness towards positive or
negative prediction. Another important issue that needed to be
solved is imbalanced number of breast cancer images against
affected patches for correct diagnosis and prediction of breast
cancer..</P>
 
  
</div>
 <input type="button" class="button" onclick="window.location.href='{{url_for('first')}}';" value="HOME" />
</body>
</html>
